<!-- templates/route_planner/show_route.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <h1>Route and Distance</h1>
    <div id="map" style="width: 600px; height: 400px;"></div>
    <p>Distance: {{ distance }} miles</p>
    <p>Total Distance with Fuel Stops: {{ total_distance_with_fuel_stops }} miles</p>

    <script>

        var start_coords = [{{ start_coords.lat }}, {{ start_coords.lon }}];
        var end_coords = [{{ end_coords.lat }}, {{ end_coords.lon }}];

        var map = L.map('map').setView(start_coords, 13);  // Set initial view start point.

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        var start_marker = L.marker(start_coords).addTo(map);
        var end_marker = L.marker(end_coords).addTo(map);


        var route_coords = {{ route.features.0.geometry.coordinates|safe }};
        var latlngs = route_coords.map(function(coord) {
            return [coord[1], coord[0]];
        });

        var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
        map.fitBounds(polyline.getBounds());

        var fuelStops = {{ fuelStops|safe }};

        fuelStops.forEach(function(stop) {
            var markerColor = 'green';

            var marker = L.marker([stop.location[0], stop.location[1]]).addTo(map);
            marker.bindPopup(
                `<b>${stop.name}</b><br>
                Price: $${stop.price} per gallon<br>
                Fuel Needed: ${stop.fuel_needed.toFixed(2)} gallons<br>
                Total Cost: $${stop.total_cost.toFixed(2)}`
            );
        });

    </script>

</body>
</html>
